* {
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: #240A34;
    --cor-secundaria: #891652;
    --cor-terciaria: #EABE6C;
    --cor-hover: #FFEDD8;
    --fonte-principal: "League Spartan", sans-serif;
    --fonte-secundaria: "Abril Fatface", serif;
    --fonte-terciaria: "Open Sans", sans-serif;
}

body {
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cabecalho {
    color: var(--cor-hover);
    border-bottom: 2px solid var(--cor-hover);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.cabecalho__navegacao {
    text-decoration: none;
    color: var(--cor-hover);
    font-family: var(--fonte-terciaria);
    margin: 0 5px;
    padding: 1% 1% 1% 3%;
    font-size: 1.7rem;
    transition: transform 0.9s ease;
    display: inline-block;
}

.cabecalho__navegacao:hover {
    color: var(--cor-terciaria);
    transform: scale(1.1);
}

.principal {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 1% 1% 1% 0;
    margin-bottom: 9px;
}

.principal__conteudo, .principal__imagem_bolo, .lateral_esquerdo {
    flex: 1;
}

.principal__conteudo {
    order: 2;
    padding-top: 4%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.lateral_esquerdo {
    order: 1;
    overflow: hidden;
    max-width: 24%;
}

.principal__imagem_bolo {
    order: 3;
    width: 50%;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.logo_principal {
    width: 50%;
    height: auto;
}
.logo_principal2{
    display: none;
}

.principal__titulo {
    color: var(--cor-hover);
    font-family: var(--fonte-secundaria);
    font-size: 4.6rem;
    text-align: right;
}

.destaque {
    color: var(--cor-terciaria);
    font-weight: bold;
}

/* .lateral_esquerdo__imagem-com-shape {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: auto;  
    margin-left: -10px;
    
} */

/* .lateral_esquerdo__imagem-com-shape__imagem {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;  
    bottom: auto;  
    max-width: 90%;
    z-index: 2;
    object-fit: contain;  
} */

.lateral_esquerdo__imagem-com-shape__shape {
    background-image: url("assets/shape_corner.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}   

.principal__conteudo__botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 5%;
}

.principal__conteudo__botoes_botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--cor-hover);
    text-align: center;
    border-radius: 29px;
    margin-top: 2.7%;
    height: auto;
    text-decoration: none;
    font-family: var(--fonte-terciaria);
    color: var(--cor-primaria);
    padding: 16px 20px;
    transition: transform 0.5s;
    flex: 1;
    width: 50%;
    
}
.principal__conteudo__botoes_botao:hover{
    transform: scale(1.1);
}

.principal__conteudo__botoes_botao img {
    max-width: 100%;
    max-height: 40px;
}

.principal__paragrafo {
    color: var(--cor-hover);
    font-family: var(--fonte-principal);
    text-align: justify;
    font-weight: bold;
    font-size: 0.95rem;
    padding-top: 3%;
}
.imagem_rodape{
    display: none;
}


.rodape {
    border-top: 2px solid var(--cor-hover);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.rodape_titulo {
    text-align: center;
    text-decoration: none;
    color: var(--cor-hover);
}
.rodape_titulo a{
    text-decoration: none;
    color: var(--cor-hover);
}
@media(max-width: 390px){
    .principal__imagem_bolo {
        display: none;
    }
    .principal__paragrafo {
        color: var(--cor-hover);
        font-family: var(--fonte-principal);
        text-align: center;
        font-weight: bold;
        font-size: 0.95rem;
        padding-top: 3%;
        padding-left:2%;
        padding-right: 2%;
    }
    .principal__titulo {
        color: var(--cor-hover);
        font-family: var(--fonte-secundaria);
        font-size: 3rem;
        text-align: center;
    }
    .principal{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* padding: 1% 1% 1% 0; */
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .principal__conteudo {
        order: 2;
        padding-top: 0%;
        padding-right: 1%;
        padding-bottom: 0%;
        margin-bottom: 0;
    }
    .rodape{
        border-top: 2px solid var(--cor-hover);
        align-items: center;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        margin-top: auto;
    }
    .lateral_esquerdo {
       
        display: none;
        
    }
    
    .logo_principal2 {
        width: 50%;
        height: 50%;
        margin-bottom: 11px;
        position: inherit;
        display: flex;
    }
    .imagem_rodape{
        order: 3;
        max-width: 390px;
        height: auto;
        display: flex;
    }
    .principal__conteudo__botoes_botao:active{
        transform: scale(1.1);
    }
}
